<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container">
  <a [routerLink]="['/restaurants', curID, 'review']"><button type="button"class="btn btn-success m-2" >New Review</button></a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Stars</th>
        <th scope="col">Description</th>
      </tr>
  </thead>
    <tbody>
      <tr *ngFor = "let review of allReviews">
        <td>{{ review.name }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.review }}</td>
      </tr>
    </tbody>
  </table>
</div>
