html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, sans-serif;
    background-color: #fafafa;
    line-height: 1.5;
    /* let's flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
